<footer>
    <div>
        <h4>ABOUT:</h4>
        <ul>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/help#terms">Terms And Conditions</a></li>
            <li><a href="/help#policy">Privacy Policy</a></li>
        </ul>
    </div>
    <div>
        <h4>POPULAR LINKS:</h4>
        <ul>
            <li><a href="/category">Men's Shoes</a></li>
            <li><a href="/category">Women's Shoes</a></li>
            <li><a href="/category">Men's Casual</a></li>
            <li><a href="/category">Women's Casual</a></li>
            <li><a href="/category">Kids Shoes</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiz4IzZ-I2GAxUv0jQHHULUApgQwqsBegQIExAG&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ&usg=AOvVaw0aHtehaphMhOCAkCydRLZU&opi=89978449">
                <img src="/img/footer/facebook.png" alt="link to the store's facebook"></a></li>
            <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjQ5Yrr-I2GAxWwlFYBHdgyDmgQ78AJegQIExAB&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DLDU_Txk06tM&usg=AOvVaw3TOk4o_GkDuODqTByNP2WP&opi=89978449">
                <img src="/img/footer/instagram.png" alt="link to the store's instagram"></a></li>
            <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjHk9vS-Y2GAxUQsVYBHUWPBlEQ3yx6BAhIEAI&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DArmDp-zijuc&usg=AOvVaw0c0d8e9OuQurJ5wMgmhXg7&opi=89978449">
                <img src="/img/footer/logo.png" alt="link to the store's rmit?"></a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><img src="/img/footer/meth1.png" alt="payment methods"></li>
            <li><img src="/img/footer/meth2.png" alt="payment methods"></li>
            <li><img src="/img/footer/meth3.png" alt="payment methods"></li>
            <li><img src="/img/footer/meth4.png" alt="payment methods"></li>
        </ul>
    </div>
</footer>