@import url('/css/partials/color.css');

main {
    text-align: center;
    margin: auto 0;
}

main > article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

main > article > a {
    height: 20px;
    width: 80px;
}

@media screen and (max-width: 768px) {
    main {
        height: 100vh;
    }
}