main,article {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    flex-flow: column wrap;
}

article a {
    text-decoration: none;
    color: var(--linkColor);
}

article a:hover {
    text-decoration: underline;
}