@import url('/css/partials/color.css');

/* blur background */
#blur-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background-color: var(--blurBg);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;
}

#blur-bg.active {
    opacity: 0.5;
    visibility: visible;
}

/* general section */
section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

section + section {
    border-top: 1px solid black;
}

/* first help section */
#title {
    text-align: center;
}

#title>h1 {
    font-size: 36px;
    margin-bottom: 0px;
}

#title>p {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: larger;
    color: gray;
}

#help-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

#forgot-password-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25vw;
    border: 1px solid var(--borderColor);
    height: 100%;
    text-decoration: none;
    padding: 0 20px;
    border-radius: 15px;
    transition: 0.2s;
}

#forgot-password-section:hover {
    box-shadow:
        0px 2.2px 2.2px rgba(0, 0, 0, 0.02),
        0px 5.3px 5.3px rgba(0, 0, 0, 0.028),
        0px 10px 10px rgba(0, 0, 0, 0.035),
        0px 17.9px 17.9px rgba(0, 0, 0, 0.042);
    transform: scale(1.02, 1.02);
}

#forgot-password-section>div>img {
    height: 20vh;
}

#forgot-password-section>div>p:nth-child(1) {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 0px;
    margin-top: 30px;
}

#forgot-password-section>div>p:nth-child(2) {
    font-weight: 300;
    color: gray;
}

#reactivate-account-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25vw;
    border: 1px solid var(--borderColor);
    height: 100%;
    margin-left: 25px;
    padding: 0 20px;
    border-radius: 15px;
    transition: 0.2s;
}

#reactivate-account-section:hover {
    box-shadow:
        0px 2.2px 2.2px rgba(0, 0, 0, 0.02),
        0px 5.3px 5.3px rgba(0, 0, 0, 0.028),
        0px 10px 10px rgba(0, 0, 0, 0.035),
        0px 17.9px 17.9px rgba(0, 0, 0, 0.042);
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#reactivate-account-section>div>img {
    height: 20vh;
}

#reactivate-account-section>div>p:nth-child(1) {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 0px;
    margin-top: 30px;
}

#reactivate-account-section>div>p:nth-child(2) {
    font-weight: 300;
    color: gray;
}

/* popup form for reactivate account */
.active {
    background-color: var(--buttonColor);
    color: var(--text);
}

#reactivateForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-flow: column wrap;
    width: auto;
    height: auto;
    position: fixed;
    background: var(--backgroundColor);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 131px -61px rgba(0,0,0,1);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in;
    z-index: 999;
}

#reactivateForm.active {
    visibility: visible;
    opacity: 1;
}

#reactivateForm > textarea {
    margin-bottom: 20px;
    padding: 5px;
}

#reactivateForm > p {
    font-weight: 300;
    font-size: large;
}

#reactivateForm > #closePopup {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#closePopup:hover {
    background-color: var(--altBackgroundColor2);
    border-radius: 50%;
}

/* terms and conditions & privacy policy section */
section>h1 {
    font-size: 36px;
    margin-bottom: 0px;
    text-align: center;
}

.content {
    padding: 0px 40px;
}

.content>h2 {
    margin-bottom: 0px;
}

.content>p, .content>ul {
    margin-top: 8px;
    font-size: 18px;
}


@media screen and (max-width: 768px) {

    section {
        height: auto;
    }

    #help-options {
        flex-direction: column;
        height: auto;

    }

    #forgot-password-section, #reactivate-account-section {
        width: 70vw;
        height: 40vh;
        margin: 30px 0px;
    }
}