#history {
    margin: 25px;
    margin-left: 0;
    border-radius: 15px;
    border: 1px solid var(--borderColor);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0;
    height: 100vh;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#history > ul > li:nth-child(1) {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--buttonColor);
    width: 100%;
    height: 25px;
    border-bottom: 1px solid var(--borderColor);
}

.product {
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product > div:nth-child(2) {
    padding-left: 25px;
}

.product > div:nth-child(2) > p:nth-child(2) {
    font-style: italic;
    color: var(--altText2);
}

.product img {
    height: 150px;
    width: auto;
    max-width: 150px;
    margin-left: 25px;
}

@media screen and (max-width: 768px) {
    #history {
        margin-left: 25px;
        height: auto;
    }

    #history > ul > li:nth-child(1) {
        border: none
    }

    .product {
        border-bottom: none;
        border-top: 1px solid var(--borderColor);
    }
    
}