@import url('/css/partials/color.css');

main {
    overflow: hidden;
}

section:nth-child(1) {
    height: calc(100vh - 75px);
}

section {
    height: 100vh;
}

section+section {
    border-top: 1px solid var(--borderColor);
}

#slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 85vh; /* Ensuring the container has the same height as the images */
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%; /* Make sure the slides fill the container */
    top: 0;
    left: 0;
}

.slide img {
    width: 100%; /* Ensuring the images fill the width of the container */
    height: 100%; /* Ensuring the images fill the height of the container */
    object-fit: cover; /* Ensuring the images cover the container without distortion */
}

/* Navigation dots */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dots {
    text-align: center;
    margin: auto 0;
}

/* Trending container */
#trending-container {
    display: grid;
    grid-template-rows: 8vh 87vh 5vh;
    text-align: center;
}

#trending-container h1 {
    font-size: 36px;
    z-index: 1;
    margin: 0;
}

#trending-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#trending-container>div>a {
    text-decoration: none;
    color: var(--linkColor);
}

#trending-container>#model-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#trending-container>#model-container>div {
    display: grid;
    align-items: center;
    height: 87vh;
}

#trending-container>#model-container>div>a {
    background-color: var(--altBackgroundColor2);
    opacity: 0;
    display: block;
    height: 100%;
    width: 25vw;
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
    transition: 0.3s;
}

#trending-container>#model-container>div>a:hover {
    opacity: 0.35;
    box-shadow:
        0px 2.2px 2.2px rgba(0, 0, 0, 0.02),
        0px 5.3px 5.3px rgba(0, 0, 0, 0.028),
        0px 10px 10px rgba(0, 0, 0, 0.035),
        0px 17.9px 17.9px rgba(0, 0, 0, 0.042),
        0px 33.4px 33.4px rgba(0, 0, 0, 0.05),
        0px 80px 80px rgba(0, 0, 0, 0.07);
}

#trending-container>#model-container>div>a:hover+img {
    transform: scale(1.05, 1.05);
}

#trending-container>#model-container>div>img {
    display: inline-block;
    margin: auto;
    grid-area: 1 / 1 / 1 / 1;
    z-index: -1;
    transition: 0.3s;
}

/* Latest Release container */
#latest-release-container {
    display: grid;
    grid-template-rows: 8vh auto;
    text-align: center;
}

#latest-release-container h1 {
    font-size: 36px;
    z-index: 1;
    margin: 0;
}

#latest-release-container>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

#product-grid a {
    text-decoration: none;
    color: var(--text);
}

#product-grid .product {
    position: relative;
    padding: 5px;
    border: 1px solid var(--secondColorBlack);
    transition: 0.2s;
}

#product-grid .product:hover {
    box-shadow:
        0px 2.2px 2.2px rgba(0, 0, 0, 0.02),
        0px 5.3px 5.3px rgba(0, 0, 0, 0.028),
        0px 10px 10px rgba(0, 0, 0, 0.035),
        0px 17.9px 17.9px rgba(0, 0, 0, 0.042),
        0px 33.4px 33.4px rgba(0, 0, 0, 0.05),
        0px 80px 80px rgba(0, 0, 0, 0.07);
    transform: scale(1.02, 1.02);
}

#product-grid .product>#img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-grid .product>#product-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#product-grid .product img {
    width: 30vw;
}

#product-grid .product>#product-desc>#prod-name {
    overflow: hidden;
    white-space: nowrap;
    width: 30vw;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}


@media screen and (max-width: 768px) {
    section:nth-child(1) {
        height: calc(100vh - 40px);
    }

    #trending-container>#model-container {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
        padding-left: 50px;
    }

    #trending-container>#model-container>div {
        width: 50vw;
    }

    #trending-container>#model-container>div>a {
        width: 50vw;
    }

    #product-grid {
        grid-template-columns: 100%;
    }

    #product-grid .product img {
        width: 90vw;
    }
    
    #product-grid .product>#product-desc>#prod-name {
        width: 90vw;
    }
}
