section:nth-child(4) {
    margin: 25px;
    margin-left: 0;
    border-radius: 15px;
    border: 1px solid var(--borderColor);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0;
    height: 100vh;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#postListButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
    height: 20px;
    margin: 0;
    background-color: var(--buttonColor);
    border-bottom: 1px solid var(--borderColor);
    cursor: pointer;
}

#postListButton:hover {
    background-color: var(--altBackgroundColor2);
}

#postList {
    background-color: var(--backgroundColor);
    display: none;
}

#postList.active {
    display: block;
}

#postList > li {
    border-bottom: 1px solid var(--borderColor);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 30px 15px;
}

#postList > li > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    text-overflow: ellipsis;
}

#postList > li > span:nth-child(1) {
    text-overflow: ellipsis;
    width: 200px;
}

#postList > li > span:nth-child(2) {
    text-overflow: ellipsis;
    width: 80px;
}

#postList > li > div > form {
    margin-left: 25px;
}

#commentListButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
    height: 20px;
    margin: 0;
    background-color: var(--buttonColor);
    border-bottom: 1px solid var(--borderColor);
    cursor: pointer;
}

#commentListButton:hover {
    background-color: var(--altBackgroundColor2);
}

#commentList {
    background-color: var(--backgroundColor);
    display: none;
}

#commentList.active {
    display: block;
}

#commentList > li {
    border-bottom: 1px solid var(--borderColor);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 30px 15px;
}

#commentList > li > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    text-overflow: ellipsis;
}

#commentList > li > span:nth-child(1) {
    text-overflow: ellipsis;
    width: 200px;
}

#commentList > li > span:nth-child(2) {
    text-overflow: ellipsis;
    width: 80px;
}

#commentList > li > div > form {
    margin-left: 25px;
}

@media screen and (max-width: 768px) {
    section:nth-child(4) {
        margin-left: 25px;
        height: auto;
    }

    #postList > li > span:nth-child(2) {
        display: none;
    }

    #postList > li > span:nth-child(3) {
        display: none;
    }

    #commentList > li > span:nth-child(2) {
        display: none;
    }

    #commentListButton {
        border-bottom: none;
    }
    
    #commentList > li {
        border-bottom: none;
        border-top: 1px solid var(--borderColor);
    }

}