@import url('/css/partials/color.css');

#blur-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background-color: var(--blurBg);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;
}

#blur-bg.active {
    opacity: 0.5;
    visibility: visible;
}

main {
    min-height: 95vh;
    display: grid;

    grid-template-columns: 1fr 3fr;
}

#logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: auto;
}

main a[role="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

#side {
    display: flex;
    border: 1px solid var(--borderColor);
    border-radius: 15px;
    height: 100vh;
    margin: 25px;
    flex-direction: column;
    box-sizing: border-box;
}

#side>#imgBox {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--borderColor);
}

#uploadImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-flow: column wrap;
    width: auto;
    height: auto;
    position: fixed;
    background: var(--backgroundColor);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 131px -61px rgba(0,0,0,1);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in;
    z-index: 999;
}

#uploadImg.active {
    visibility: visible;
    opacity: 1;
}

#uploadImg > input {
    margin-bottom: 25px;
    padding: 5px;
}

#uploadImg > #closePopup {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#closePopup:hover {
    background-color: var(--altBackgroundColor2);
    border-radius: 50%;
}

#imgBox>img {
    width: 250px;
    height: 250px;
    margin: 25px 0;
    border-radius: 50%;
}

#imgBox>#overlay-img {
    width: 250px;
    height: 250px;
    background-color: var(--overlay);
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s ease-out;
    cursor: pointer;
}

#imgBox>#overlay-img:hover {
    opacity: 0.3;
}

#side>ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#side>ul>li {
    height: 40px;
    border-bottom: 1px solid var(--borderColor);
}

#side>ul>li:hover {
    background-color: var(--altBackgroundColor2);
    color: var(--text);
}

.active {
    background-color: var(--buttonColor);
    color: var(--text);
}

#side>ul>li>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    height: 100%;
    width: 100%;
}

#side>ul>li>a>span {
    padding-left: 10px;
}

#side>button {
    margin: 15px auto;
}

#logged-out {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
}

.tabs {
    display: grid;
    border: 1px solid var(--borderColor);
    border-radius: 15px;
    margin: 25px;
    margin-left: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 100%;
    }

    .tabs {
        margin-left: 25px
    }
}