@import url('/css/partials/color.css');

#settings {
    /* Settings ------------------------------- */
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    height: 100vh;
}

#settings>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

#settings>div:nth-child(2)>form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#information {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid var(--borderColor);
}

#information form {
    width: 100%;
}

#information div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

#information button {
    margin: 50px;
}

#information div input {
    display: inline-block;
    width: 100%;
    height: 30px;
}

#information div label {
    display: inline-block;
    text-align: left;
    width: 100px;
    margin-right: 5px;
    font-size: 18px;
}

#modes {
    /* Modes ------------------------------- */
    display: flex;
    flex-flow: column wrap;
    border-right: 1px solid var(--borderColor);
    justify-content: center;
    align-items: center;
}

#modes>div,
#modes>form {
    margin: auto auto;
    display: flex;
    width: 160px;
    align-items: center;
}

#modes>div>.switch,
#modes>form>.switch {
    margin-left: auto;
    margin-right: 0;
}

#pin {
    /* Pin ------------------------------- */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-right: 1px solid var(--borderColor);
}

#pin h3 {
    text-align: center;
    font-weight: normal;
}

#account-control {
    /* Account control ---------------- */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
}

/* --------------------------------- TOGGLE BUTTON --------------------------------- */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--altBackgroundColor2);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--buttonColor);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--buttonColor);
}

input:checked+.slider:before {
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    #settings {
        height: auto;
    }
    #settings.tabs {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
    }

    #information {
        grid-area: 1 / 1 / 2 / 2;
    }


    #settings>div:nth-child(2) {
        height: 100vh;
        flex-flow: column wrap;
    }

    #settings.tabs #information div {
        flex-flow: column wrap;
    }

    #settings.tabs #information div label {
        align-self: flex-start;
        margin-bottom: 5px;
    }

    #modes {
        border: none;
        border-bottom: 1px solid var(--secondColorBlack);
    }

    #pin {
        border: none;
        border-bottom: 1px solid var(--secondColorBlack);
    }
}