<!DOCTYPE html>

<html lang="en">

<head>
    <title>About us</title>
    <%- include('../partials/head') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/partials/common.css"> <!-- Common css -->
    <link rel="stylesheet" href="/css/partials/navbar.css"> <!-- Navbar css -->
    <link rel="stylesheet" href="/css/partials/footer.css"> <!-- Footer css -->

    <link rel="stylesheet" href="/css/site/aboutus.css"> <!-- About us css -->
</head>

<body>

    <!-- Header -->
    <header role="banner">
        <!-- Navbar -->
        <%- include('../partials/navbar') %>
    </header>

    <!-- Main -->
    <main role="main">
            <section>
                <h1>WHO ARE WE?</h1>
                <div id="intro" tabindex="0"><p>Our website proudly serves as an authorized distributor for Balenciaga, the renowned luxury fashion brand. With an unwavering commitment to excellence, we curate and showcase an exquisite collection of Balenciaga’s iconic products, ranging from avant-garde sneakers and statement handbags to meticulously crafted ready-to-wear pieces. As a trusted gateway to Balenciaga’s world of sophistication and innovation, our platform invites fashion enthusiasts, trendsetters, and discerning shoppers to explore and acquire these coveted pieces, each bearing the unmistakable hallmark of Balenciaga’s artistic vision and craftsmanship.</p></div>
            </section>
            <section>
                <h1>MEET OUR TEAM</h1>
                <div id="teamMem">
                    <div>
                        <img src="/img/aboutus/image 17.png" alt="avatar" tabindex="0" aria-label="Nguyen's Profile picture">
                        <p>Nguyen</p>
                    </div>
                    <div>
                        <img src="/img/aboutus/image 17.png" alt="avatar" tabindex="0" aria-label="Nhien's Profile picture">
                        <p>Nhien</p>
                    </div>
                    <div>
                        <img src="/img/aboutus/image 17.png" alt="avatar" tabindex="0" aria-label="Mason's profile picture">
                        <p>Mason</p>
                    </div>
                    <div>
                        <img src="/img/aboutus/image 17.png" alt="avatar" tabindex="0" aria-label="Hung's profile picture">
                        <p>Hung</p>
                    </div>
                </div>
            </section>
            <section>
                <h1 id="contactTitle">CONTACTS</h1>
                <div id="contacts">
                    <div>
                        <img src="/img/aboutus/image 67.png" alt="phone icon">
                        <span tabindex="0" aria-label="website's official phone number">+0987654321</span>
                    </div>
                    <div>
                        <img src="/img/aboutus/image 68.png" alt="location icon">
                        <span tabindex="0" aria-label="website's office address">123 Real Address, Real Province, Real District, Real City</span>
                    </div>
                    <div>
                        <img src="/img/aboutus/image 69.png" alt="email icon">
                        <span tabindex="0" aria-label="website's official email">realEmail@email.com</span>
                    </div>
                    <div>
                        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiz4IzZ-I2GAxUv0jQHHULUApgQwqsBegQIExAG&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ&usg=AOvVaw0aHtehaphMhOCAkCydRLZU&opi=89978449">
                            <img src="/img/footer/facebook.png" alt="link to the store's facebook"></a>
                        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjQ5Yrr-I2GAxWwlFYBHdgyDmgQ78AJegQIExAB&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DLDU_Txk06tM&usg=AOvVaw3TOk4o_GkDuODqTByNP2WP&opi=89978449">
                            <img src="/img/footer/instagram.png" alt="link to the store's instagram"></a>
                        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjHk9vS-Y2GAxUQsVYBHUWPBlEQ3yx6BAhIEAI&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DArmDp-zijuc&usg=AOvVaw0c0d8e9OuQurJ5wMgmhXg7&opi=89978449">
                            <img src="/img/footer/logo.png" alt="link to the store's rmit?"></a>
                    </div>
                </div>
                <div id="question">
                    <h2>Any questions or remarks? Just write us a message.</h2>
                    <form>
                        <textarea placeholder="Send us a message!" required aria-required="true"></textarea>
                    </form>
                    <button>Send message</button>
                </div>
            </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>

</body>

</html>