/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Roboto Serif */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('/css/partials/color.css');

/* Change font */
* {
    font-family: 'Roboto';
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
button>span,
button>a,
a>span {
    font-family: 'Roboto Serif';
}

/* Common layout */
html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundColor);
}

html.stopScroll {
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--primeColor);
}

body::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156);
    opacity: 0.5;
    cursor: pointer;
    border-radius: 50px;
}

main button {
    padding: 15px;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 30px;
    z-index: 0;
    cursor: pointer;
    transition: 0.1s;
    min-height: 40px;
}

main button:hover {
    transform: scale(1.05, 1.05);
}

main a[role='button'] {
    min-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 30px;
    z-index: 0;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    text-wrap: nowrap;
    min-width: 120px;
}

main a[role='button']:hover {
    transform: scale(1.05, 1.05);
}


input {
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--backgroundColor);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 1rem center;
    box-sizing: border-box;
    background-size: 10px 12px;
}