@import url('/css/partials/color.css');

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: var(--altBackgroundColor1);
    z-index: 2;
}

footer h4 {
    pointer-events: none;
    text-wrap: nowrap;
    color: var(--altText1)
}

footer>div>ul {
    list-style: none;
    padding-left: 0;
}

footer li a {
    color: var(--altText1);
    text-decoration: none;
}

footer li a:hover {
    color: var(--linkColor);
}

footer img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

footer > div:nth-child(4) img {
    border: 1px solid var(--altBorderColor);
}

@media screen and (max-width: 768px) {
    footer {
        flex-flow: column wrap;
    }

    footer > div {
        padding-left: 100px;
    }
}